*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #283747;
}

.navl{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 36px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    display: block;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    
}


.login-button{
    color: white;
    background-color:  #E02C6D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 24px;
    text-decoration: none;
}

.header-section{
    background-color: #2d25a0;
    
}

.header-section h1:hover{
    color: cyan;
    transition: color 1s ease-out;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.heading{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 120px;
    }



.banner{
    display: flex;
    justify-content: space-between;
}

#banner-img{
    height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 120px;
}

#banner-img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.watch{
    color: white;
    background-color:  #E02C6D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    height: 44px;
    padding: 15px;
}


/* Main Section */
main{
    margin-bottom: 100px;
}

.players-section{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.playerP{
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px rgb(19, 192, 140);
    padding: 15px;
    text-align: justify;
    
}

.playerP img{
    align-items: center;
    width: 300px;
    border-radius: 5px;
    height: 256px;
}

.playerP p{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.playerP h2{
    color:orange;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}





/* hghlght section */
.hghlghts-section{
    display: flex;
    flex-direction: row;
    margin: 4%;
    
}

.hghlght-title{
    padding: 5%
}

.hghlght-title h1{
    font-size: 48px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}




.hghlght-title p{
    font-size: 20px;
    color: white;
    padding-top: 50px;
    text-align: center;
}

.watch-live-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-left: 40%;
    padding: 10px;
    border-radius: 5px;
    
}

.watch-live:hover{
    transform: scale(1.1);
    transition: transform 1s ease-out;
}

.watch-live-button .fa-arrow-right{
    margin: 30px;
}

.hghlght-banner img{
    width: 567px;
    margin: 30px;
    border-radius: 5px;
}

.hghlght-banner img:hover{
    transform: scale(1.1);
    transition: transform 1s ease-out;
}




/* Footer Section */
.footer{
    display: flex;
    justify-content: center;
}

.footer-logo img{
    margin-top: 150px;
}

.footer .social-media a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.footer p{
    text-align: center;
    font-size: 18px;
    color: white;
}

.fab{
    display: flex;
    justify-content: center;
    color: #969CAC;
    background-color: #D9D7D8;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
#cpyrgt{
    margin-bottom: 63px;
}


/* ------------------Media query-------------------------------- */

/* Mobile device */
@media only screen and (max-width: 688px){

    /* /////////banner/////////////// */


    .navl{
        float: left;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        
    }


.banner{
    display: flex;
    flex-direction: column;
    
}
.heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 20%;
    padding-bottom: 20%;  
    
}

.header-section h1:hover{
    color: cyan;
    transition: color 1s ease-out;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

#banner-img{
    height: 290px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

#banner-img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.watch{
    color: white;
    background-color:  #E02C6D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    height: 44px;
    margin: 20%;
    
    
}




.players{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.playerP{
    transform: scale(.9);
}
    



    /* highlight part */

    .hghlght-title{
        transform: scale(.7);
        
    }
    .watch-live{
        text-decoration: none;
        background-color: #E02C6D;
        color: #FFFFFF;
        font-size: 27px;
        border-radius: 5px;
    }

    .hghlghts-section{
        display: flex;
        flex-direction: column;
        
    }
    .hghlght-title{
        width: 100%;
    }

    .hghlght-banner{
        width: 40%;
        transform: scale(.55);
    }
    

    /* Footer part done */


    .footer-logo img{
        transform: scale(.3);
        padding-left: 10%;
    }
    #cpyrgt{
        align-items: center;
        transform: scale(.6);
    }
}
