*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #283747;
}

nav>span>a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 36px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
.navl{
    font-family: 'Poppins', sans-serif;
    

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    
}


.login-button{
    color: white;
    background-color:  #E02C6D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 24px;

}

.header-section{
    background-color: #2d25a0;
    
}

.header-section h1:hover{
    color: cyan;
    transition: color 1s ease-out;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.heading{
    
    flex-direction: column;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 120px;
    }



.banner{
    display: flex;
    justify-content: space-between;
}

#banner-img{
    height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 120px;
}

#banner-img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.watch{
    color: white;
    background-color:  #E02C6D;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    height: 44px;
    padding: 15px;
}


/* Main Section */
main{
    margin-bottom: 100px;
}
.players-section{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.playerP{
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px rgb(19, 192, 140);
    padding: 15px;
    text-align: justify;
    
}

.playerP img{
    align-items: center;
    width: 300px;
    border-radius: 5px;
    height: 256px;
}

.playerP p{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.playerP h2{
    color:orange;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}



/* Footer Section */
.footer{
    display: flex;
    justify-content: center;
}

.footer-logo img{
    margin-top: 150px;
}

.footer .social-media a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.footer p{
    text-align: center;
    font-size: 18px;
    color: white;
}

.fab{
    display: flex;
    justify-content: center;
    color: #969CAC;
    background-color: #D9D7D8;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
#cpyrgt{
    margin-bottom: 63px;
}